#allblocks
{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap:10px 10px;
    align-content:space-around;
}
#allblocks .blog
{
    width: 30%;
}

@media only screen and (max-width: 798px) {
    #allblocks .blog
    {
        width: 100%;
    }
    
}